
	*,
	*:before,
	*:after { border-radius: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; outline: none; padding: 0; }

		body { background: #FFF; color: #2C3E50; cursor: default; font: 300 1rem/1 'Helvetica Neue', Arial, sans-serif; }

			a { color: #16A085; text-decoration: none; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease; }

				a:hover { color: #1ABC9C; }

	h1 { font-weight: 300; margin: 0 0 2rem 0; }

	h2 { font-weight: 300; margin: 3rem 0 2rem 0; }

	p { margin: 2rem 0; }

	pre { background: #34495E; color: #ECF0F1; line-height: 1.4; padding: 2rem; tab-size: 4; }

	#wrapper { margin: 5em auto; max-width: 90%; width: 40em; }
