
	/* style */

	*,
	*:before,
	*:after { border-radius: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; outline: none; padding: 0; }

		body { background: #FFF; color: #2C3E50; cursor: default; font: 300 1.4em/1 'Helvetica Neue', Arial, sans-serif; }

			a { color: #16A085; text-decoration: none; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease; }

				a:hover { color: #1ABC9C; }

	h1 { font-weight: 300; }

	h2 { font-weight: 300; margin: 3em 0 1em 0; }

	p { margin: 2em 0; }

	pre { background: #34495E; color: #ECF0F1; line-height: 1.4; padding: 2em; tab-size: 4; }

	table { border-collapse: collapse; border-spacing: 0; width: 100%; }

		th,
		td { font-weight: 300; line-height: 1; padding: 1em; text-align: left; vertical-align: middle; }

			tbody th { font-family: 'Consolas', monospace; }

			tbody tr:nth-child(2n+1) { background: #ECF0F1; }

	header,
	section,
	footer { margin: 5em auto; max-width: 90%; width: 40em; }

		#social { margin: 1rem auto; overflow: hidden; }

			#github,
			#tweet { float: left; }

		footer { background: #7F8C8D; color: #BDC3C7; font-size: 1rem; margin: 0; max-width: 100%; padding: 2em; text-align: center; width: 100%; }

			footer a { color: #ECF0F1; }

	/* menu */

	#menu { background: #7F8C8D; }

		#menu a { color: #FFF; }

	/* responsive */

	@media (max-width: 64rem) {

		body { font-size: 1em; }

			h2 { margin-top: 2em; }

	}
