/* Styles */

*,
*:before,
*:after {
	border-radius: 0;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	outline: none;
	padding: 0;
}

body {
	background: #000;
	color: #000;
	cursor: default;
	font: normal 0.75em/1 'Atlas Typewriter', 'Consolas', monospace;
}

a {
	color: #AAA;
	border-bottom: 1px solid #AAA;
	padding-bottom: 2px;
	text-decoration: none;
	transition: all 300ms ease;
}

a:hover {
	border-bottom-color: #000;
	color: #000;
}

h1 {
	font-size: 3em;
}

h2,
h3 {
	margin: 1em 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	background: #000;
	color: #FFF;
	display: inline-block;
	font-size: 1em;
	margin-top: 2em;
	padding: 1em;
}

h4:first-of-type {
	margin-top: 0;
}

img {
	border: none;
	max-width: 100%;
	vertical-align: top;
}

p {
	line-height: 1.6;
	margin: 2em 0;
}

pre {
	background: #000;
	color: #FFF;
	font: inherit;
	line-height: 1.6;
	padding: 2em;
	tab-size: 4;
}

table {
	font: inherit;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

tbody tr:nth-child(2n+1) {
	background: #EEE;
}

th,
td {
	line-height: 1.6;
	padding: 1em;
	text-align: left;
	vertical-align: middle;
}

ul li {
	line-height: 1.6;
	list-style: square;
	margin: 1em 0 1em 2em;
}

header,
section,
footer {
	margin: 5em auto;
	max-width: 90%;
	width: 40em;
}

footer {
	color: #FFF;
	margin: 0;
	max-width: 100%;
	padding: 2em;
	text-align: center;
	width: 100%;
}

footer img {
	height: 1em;
}

footer a:hover {
	border-bottom-color: #FFF;
	color: #FFF;
}

.wrapper {
	background: #FFF;
	overflow: hidden;
}

.social {
	margin: 2em auto;
	overflow: hidden;
}

.github,
.tweet {
	float: left;
}

/* Responsive */

@media (max-width: 40em) {
	h3 {
		margin-top: 1em;
	}

	footer {
		line-height: 2;
	}

	footer img {
		margin: 0.5em 0;
	}
}
